# optix intermediate representation
*.optixir

# CMakeGenerated config file that comes from the corresponding config/CMakeGenerated.h.in file
CMakeGenerated.h

# build dirs
.vs
out/
build/

# where to print the framebuffer
debugImages/

# clangd language server stuff
compile_commands.json
.cache

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
